/* * {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
} */

body {
}

.principal {
	background: lightgray;
}

p,
h1 {
	text-align: center;
}

#mision {
	color: red;
}

#banner {
	width: 100%;
}

.items {
	font-style: italic;
}

.diferenciales {
	background: white;
}

ul {
	display: inline-block;
}

.imagenDiferenciales {
	width: 50%;
}
